<div id="<%= dom_id board %>" class="grid grid-cols-1">
  <p>
    <strong>Email:</strong>
    <%= board.email %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= board.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= board.height %>
  </p>

  <p>
    <strong>Mine count:</strong>
    <%= board.mine_count %>
  </p>

  <p>
    <strong>Board name:</strong>
    <%= board.board_name %>
  </p>

  <p>
    <strong>Board:</strong>
    <ul>
      <% @board.mine_locations.each do |location| %>
          <%= location %>
          <br>
      <% end %>
    </ul>
  </p>
 
</div>
